# prototype-kicad-project-ci-cd
#
# Copyright 2021, Andrew Countryman <apcountryman@gmail.com> and the
# prototype-kicad-project-ci-cd contributors
#
# You may redistribute and modify this documentation and make products using it under the
# terms of the CERN-OHL-P v2 (https:/cern.ch/cern-ohl). This documentation is distributed
# WITHOUT ANY EXPRESS OR IMPLIED WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY
# QUALITY AND FITNESS FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-P v2 for
# applicable conditions.

# File: .gitignore
# Description: Git ignore rules for the prototype-kicad-project-ci-cd repository.

# ignore the KiCad footprint cache
fp-info-cache

# ignore schematic backup
*.sch-bak

# ignore pcb layout backup
*.kicad_pcb-bak

# ignore symbol library cache
*-cache.lib

# ignore project backups
*-backups/

# ignore project last used settings
*.kicad_prl
